{{ define "main" }}
  {{ $prev := 3000}}
  {{ range .Pages.ByPublishDate.Reverse }}
    {{ if .Date }}
      {{ if gt $prev (.Date.Format "2006") }}
        {{ if ne $prev 3000 }}
          </table>
        {{ end }}
        <h2>{{ .Date.Format "2006" }}</h2>
        <table>
      {{ end }}
      <li style="list-style-type:none;">
      <tr>
        <td>{{ .Date.Format "Jan 02" }}</td>
        <td>
        {{ if .Params.link }}
          <a href="{{ .Params.linkurl }}">{{ .Title }}</a>
        {{ else }}
          <a class="strong" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        </td>
      </tr>
      {{ $prev = .Date.Format "2006"}}
    {{ end }}
  {{ end }}
{{ end }}
