<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <!-- needs to be last -->
  <!-- <link rel="stylesheet" type="type/css" href="/css/dark.css" disabled id="dark-mode-theme"> -->

  <!-- favicons -->
  <link rel="apple-touch-icon" href="https://zanshin.net/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" href="https://zanshin.net/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" href="https://zanshin.net/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" href="https://zanshin.net/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" href="https://zanshin.net/images/apple-touch-icon-144x144.png" />
  <link rel="icon" type="image/png" href="https://zanshin.net/images/favicon.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
      <script scr="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Meta -->
  <meta name="description" content="The personal website of Mark Hanford Nichols." />
  <meta name="keywords" content="programming, how-to, music, movies, books, cooking, travel, computers, nerds, cello, violoncello, videos" />

  <!-- Opt out of Google FLoC -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />

  <!-- Umami -->
  <script async src="https://us.umami.is/script.js" data-website-id="77ff284f-6034-460a-b546-5e265f83dbc5"></script>

</head>
