{{ define "main" }}
  <div>
    {{ range $index, $value := ( .Site.RegularPages  | first 10 ) }}
    {{ if (ne $index 0) }}<hr>{{ end }}
      <section>
        <h1>
          {{ if .Params.link }}
            <a href="{{ .Params.linkurl }}">{{ .Title }}</a>
            <a style="font-size=12px;" href="{{ .RelPermalink}}">&#128279;</a>
          {{ else }}
            <a class="strong" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </h1>
        {{ partial "metadata.html" . }}
        <p>
          {{ .Content }}
        </p>
      </section>
    {{ end }}
  </div>
{{ end }}
