Options +FollowSymLinks
RewriteEngine on
#RewriteBase /

# Block bots and spiders from amazonaws.com 20140901
RewriteCond %{HTTP_REFERER} ^http://.*amazonaws\.com [OR]
RewriteCond %{REMOTE_HOST} ^.*\.compute-1\.amazonaws\.com$ [NC]
RewriteRule ^(.*)$ - [F]

# Block "Bloglovin" from accessing (scraping) my site
SetEnvIfNoCase User-Agent "^Bloglovin" bad_user
Deny from env=bad_user

# Force URLs ending in &wd= to home page. No idea where these are coming
# from
# RewriteRule "wd=test/?$" "-" [L,F]
# RewriteRule .*\&wd=.*$  https://zanshin.net/$1 [L]
RewriteRule (.+?)/\&wd=.*$  https://zanshin.net/$1 [L,R=301]

# redirect old tag pages to archives. ugly, but better than nothing
# TO-DO - change to categories page, once a categories page exists
# RedirectMatch 301 /tag/.*/ https://zanshin.net/archives/

# monthly archive redirects
RedirectMatch 301 /blogs/\d{4}_\d{2}.html https://zanshin.net/archives/

# redirect old feed link to atom.xml
RedirectMatch 301 /feed https://zanshin.net/atom.xml

# redirect Jekyll permalinks to Hugo permalinks
RedirectMatch 301 /\d{4}/\d{1,2}/\d{1,2}/(.*) https://zanshin.net/$1


# ErrorDocument
ErrorDocument 401 /401/index.html
ErrorDocument 403 /403/index.html
ErrorDocument 404 /404/index.html
ErrorDocument 500 /500/index.html
